<p>
  <%= form.label :frequency, Input.human_attribute_name("frequency")+" (MHz)" %><br/>
  <%= form.text_field :frequency %>
</p>

<p>
  <%= form.label :volume, Input.human_attribute_name("volume")+" (%)" %><br/>
  <%= form.text_field :volume %>
</p>
