<%= title_tag Input.human_name %>

<div class="description">
  <%= render @input.presenter.partial %>
</div>

<div class="actions">
  <%= link_to t("actions.edit"), edit_input_path, :class => "edit" %>
</div>
