table.events {
    width: 100%;
    margin-bottom: 10px;
}

div.dashboard_monitoring {
    text-align: center;
}

div.dashboard_monitoring img {
    padding-right: 5px;
}

#content .actions .install { background: url("../images/install.png") no-repeat; }
#content .actions .disable { background: url("../images/disable.png") no-repeat; }
#content .actions .enable { background: url("../images/enable.png") no-repeat; }

div.stream.description.disabled p {
    color: #777;
}

