Source: streamcontrol
Section: sound
Priority: optional
Maintainer: Alban Peignier <alban@tryphon.eu>
Build-Depends: debhelper, cdbs, ruby1.9.1 (>= 1.9.3), ruby1.9.1-dev (>= 1.9.3), libxml2-dev, libxslt1-dev, libsqlite3-dev, python, git-core
Standards-Version: 3.8.1
Homepage: http://projects.tryphon.eu/projects/streamcontrol

Package: streamcontrol
Architecture: all
Depends: ruby1.9.1 (>= 1.9.3)
Recommends: libapache2-mod-passenger
Description: Web interface to manage audio streams created with a
 StreamBox system
 .
 See <http://projects.tryphon.eu/projects/streambox/> for more info.
